@page "/"
@using ActivityPlannerBlazor.Client.Interfaces;
@using ActivityPlannerBlazor.Shared.DTOS;
@using Microsoft.AspNetCore.Components;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;

<style>
    .container2 {
        width: 90vw !important;
        background-color: white;
        margin-right: auto;
        margin-left: auto;
    }

    .headerimage {
        width: 90vw !important;
    }

    .placeholder {
        height: 45vw !important;
    }

    .underlinetoggle {
        text-decoration: none !important;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
    <link href="/LatestUpdates2/css/templatemo-style.css" rel="stylesheet">
</head>
@if (CurrentOrganizer.PassedAcceptanceRateAppointments == null)
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <h1>Activity planner</h1>
        <p><i class="fas fa-spin fa-spinner"></i> The application is loading...</p>
    </div>
    }
else
{
    <body style="">
        @*<div class="parallax-mirror" style="z-index: -100; position: fixed; overflow: hidden; transform: translate3d(0px, 0px, 0px); visibility: visible; top: 0px; left: 0px; height: 460px; width: 794px;"><img class="parallax-slider" src="img/simple-house-01.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -167px; left: 0px; height: 794px; width: 794px; max-width: none;"></div>*@

        <div class="container2">
            <!-- Top box -->
            <!-- Logo & Site Name -->
            <div class="placeholder">
                <img class="parallax-window headerimage" data-parallax="scroll" src="/LatestUpdates2/img/laptop-image.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner headersubtext">
                    </div>
                </div>
            </div>

            <main>
                <header class="row tm-welcome-section">
                    <h2 class="col-12 text-center tm-section-title">Approved groups</h2>
                    <p class="col-12 text-center">Under this section you will find all group meetings in which the acceptance rate is surpassed, you are now open to set a discrete date of appointment.</p>
                </header>

                <!-- Gallery -->
                <div class="row tm-gallery">
                    <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                        @foreach (var item in CurrentOrganizer.PassedAcceptanceRateAppointments)
                        {
                            <a href="verifyfinaldate/@item.id" class="underlinetoggle col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <figure>
                                    <img src="/LatestUpdates2/img/sport-image2.jpg" alt="Image" class="img-fluid tm-gallery-img">
                                    <figcaption>
                                        <h4 class="tm-gallery-title">@item.Name</h4>
                                        <p class="tm-gallery-description">@item.Description</p>
                                    </figcaption>
                                </figure>
                            </a>
                        }

                    </div>


                </div>

                <header class="row tm-welcome-section">
                    <h2 class="col-12 text-center tm-section-title">Messages</h2>
                    <p class="col-12 text-center">Under this section you will find all the messages which are send to you from your acquaintances, click to verify that you read the message.</p>
                </header>

                <div class="tm-section tm-container-inner">
                    @foreach (var item in CurrentOrganizer.Messages)
                    {
                        <div class="row">
                            <div class="col-md-6 m-b-55">
                                <figure class="tm-description-figure">
                                    <img src="/LatestUpdates2/img/lunch-image.jpg" alt="Image" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <div class="tm-description-box">
                                    <h4 class="tm-gallery-title">@item.Title</h4>
                                    <p class="tm-mb-45">@item.Message</p>
                                    <a href="/succesfullyverifiedmessage/@item.Id" class="tm-btn tm-btn-default tm-right">Verify</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </main>

            <footer class="tm-footer text-center">
                <p>
                </p>
            </footer>
        </div>
    </body>
}
@code {
    [Inject]
    public ICurrentOrganizerDataService CurrentOrganizerDataService { get; set; }
    public OrganizerDTO CurrentOrganizer { get; set; } = new OrganizerDTO()
    {
    };



    protected override async Task OnInitializedAsync()
    {
        CurrentOrganizer = await CurrentOrganizerDataService.GetCurrentUser();
        if (!CurrentOrganizer.Appointments.Any())
        {

        }
    }
}
