@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@
<style>
    .changetopbar {
    
    height: 50px;
    position: sticky !important;
    z-index: 9999;
    background-color:transparent !important;
    }

    .changefontcolor {
        color: gray !important;
        font-size: medium;
    }



    @@media screen and (max-width: 1367px) {

        .title {
            color: white !important;
            font-size: large;
            transform: translateX(-1100px);
        }
    }

    @@media screen and (min-width: 1367px) {

        .title {
            color: white !important;
            font-size: large;
            transform: translateX(-1600px);
        }
    }

</style>
<div class="main">
    @*<div class="top-row px-4 auth changetopbar">
        <LoginDisplay />
        <strong class="title">Activity Planner</strong>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
